<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amner.android.com.movies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_roll_movie"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_roll_movie_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="amner.android.com.movies.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="amner.android.com.movies.login.LoginActivity">
        </activity>

        <activity android:name="amner.android.com.movies.SplashActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amner.android.com.movies.login.LoginActivity" />
        </activity>
        <activity
            android:name="amner.android.com.movies.sections.ScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_screen_activity"
            android:parentActivityName="amner.android.com.movies.SplashActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amner.android.com.movies.SplashActivity" />
        </activity>

        <receiver android:name="amner.android.com.movies.widget.Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity android:name="amner.android.com.movies.widget.WidgetConfigurationActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <service
            android:name="amner.android.com.movies.widget.WidgetRemoteService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>